<% if @strike.errors.any? %>
<div id="">
  <div class="alert alert-danger">
    The form contains <%= pluralize(@strike.errors.count, "error") %>.
    <ul>
      <% @strike.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>