
<footer class="footer">
  <small>
    <br>
    <br>
    <br>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
</footer>