<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to( "PARO INFO - BACKEND", '/', { id: "logo" }) %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "All", strikes_path %>
        </li>
        <li>
          <%= link_to "Create", create_path %>
        </li>
        <li>
          <%= link_to "Log in", '#' %>
        </li>
      </ul>
    </nav>
  </div>
</header>